.password__checker {
    padding: 0.75rem 1.25rem;
    margin: 2rem auto;
    border: 1px solid #999;
    background: #fffff5;
    border-radius: 4px;
    width: 80%;
    min-width: 250px;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 2px;
}

.message {
    display: block;
    width: 100%;
    position: relative;
    margin: 1rem auto;
    background: $white;
    border: 2px solid $white;
    border-radius: 2px;

    @media (min-width: 500px) {
        width: 400px;
    }

    &--good {
        border-color: $green;
    }
    &--warning {
        border-color: $yellow;
    }
    &--error {
        border-color: $red;
    }
}

.message__status {
    display: inline-block;
    width: 3px;
    height: 100%;
    position: absolute;
    left: 2px;
    top: 0;

    .message--good & {
        border-left: 3px solid $green;
    }

    .message--error & {
        border-left: 3px solid $red;
    }

    .message--warning & {
        border-left: 3px solid $yellow;
    }
}
