.password {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.message {
    display: block;
    margin: 1rem auto;
}

.message--good {
    border: 1px solid green;
}

.message--error {
    border: 1px solid red;
}

.message--warning {
    border: 1px solid goldenrod;
}
